# =========================================================
# PYTHON
# =========================================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv/
.env/
.envrc

# =========================================================
# JUPYTER NOTEBOOKS
# =========================================================
.ipynb_checkpoints/

# =========================================================
# LOGS
# =========================================================
logs/
*.log

# =========================================================
# DATABASES
# =========================================================
db/*.db

# =========================================================
# OUTPUT FILES (STAGING)
# =========================================================
output/*.csv

# =========================================================
# LARGE DATA FILES
# =========================================================
data/raw/
data/processed/

# =========================================================
# SYSTEM FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# IDE (PyCharm / VSCode)
# =========================================================
.idea/
.vscode/